body {
  font-family: Roboto;
  --uno: bg-base color-base;
}
/* h1, h2, h3, h4, h5, h6, a { */
/*   --uno: color-base; */
/* } */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

